@charset "UTF-8";
/*
    em HTML é id = em css é #
    em html é class = em css é . 
*/
body{
    background-color: rgb(216, 219, 226);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgb(55, 63, 81);
}
h1#principal{
    text-align: center;
    background-color: rgb(169, 188, 208);
    color: rgb(55, 63, 81) ;

}
h2{
    color:rgb(88, 164, 176) ;
}
.basico{
    color:rgb(141, 134, 201) ;
}
.intermediario{
    color: rgb(144, 103, 198);
}
.avancado{
    color: rgb(36, 32, 56);

}
.destaque{
    background-color: antiquewhite;
}